body {
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: rgb(99, 65, 11);
  text-align: center;
  font-size: 15px;
  background-image: url("../midias/imagem_fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  color: #63410b;
}
a {
  color: rgb(99, 65, 11);
}
a:hover {
  color: rgb(30, 20, 4);
}

.btn {
  background-color: rgb(99, 65, 11);
  color: rgb(234, 228, 160);
  padding: 10px 20px; /*tamanho do botão*/
  text-decoration: none; /*tira decoração de link*/
  font-size: 15px;
  font-weight: bold;
}

legend {
  font-size: 25px;
  font-weight: bold;
}

form {
  display: flex;
  justify-content: center; /* centraliza na tela */
  align-items: center;
  height: 100vh; /*pra o formulário ocupar a tela inteira */
}

fieldset {
  display: flex;
  flex-direction: column; /*organiza em coluna */
  align-items: flex-start; /*alinha texto à esquerda*/
  border-radius: 15px; /*arredonda borda*/
  background: #c8c38a86; /*cor de fundo*/
}
